In [3]:
import numpy as np
import pandas as pd

In [ ]:
"""Question 1: Create a Series from a list of integers representing daily 
temperatures (in Celsius) over a week. Assign index labels as day 
of the week. 
a. Find and print the average (mean) temperature for the week. 
b. Identify and print the maximum and minimum temperatures 
and their respective days. 
c. Display the temperatures greater than a specific value. 
d. Convert all temperatures to Fahrenheit. 
e. Print the days had temperatures above the average. """

temps = [31, 32, 33, 34, 35, 41, 52]
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
series = pd.Series(temps, index = days)
print(series)
mean = series.mean()
print("The mean temp of the week is  = ", mean)
print("Maximum temperature of the week is = ", series.idxmax(), series.max())
print("Minimum temperature of the week is = ", series.idxmin(), series.min())
val = int(input("Enter the specific value = "))
print("Temperature greater than the specific value is = \n", series[series > val])
farenheit = (series * 9/5) + 32
print("The temperatures in Farenheit are = \n", farenheit)
print("The days which have temperature more than the average temp are = \n", series[series > mean])

Sun    31
Mon    32
Tue    33
Wed    34
Thu    35
Fri    41
Sat    52
dtype: int64
The mean temp of the week is  =  36.857142857142854
Maximum temperature of the week is =  Sat 52
Minimum temperature of the week is =  Sun 31
Enter the specific value = 28
Temperature greater than the specific value is =
 Sun    31
Mon    32
Tue    33
Wed    34
Thu    35
Fri    41
Sat    52
dtype: int64
The temperatures in Farenheit are =
 Sun     87.8
Mon     89.6
Tue     91.4
Wed     93.2
Thu     95.0
Fri    105.8
Sat    125.6
dtype: float64
The days which have temperature more than the average temp are =
 Fri    41
Sat    52
dtype: int64

In [34]:
"""Question 2: Create a data frame with details of 10 students and columns as 
Roll Number, Name, Gender, Marks1, Marks2, Marks3. 
a. Create a new column with total marks 
b. Find the lowest marks in Marks1 
c. Find the Highest marks in Marks2 
d. Find the average marks in Marks3 
e. Find student name with highest average 
f. Find how many students failed in Marks2 (<40) """

data = {"Name" : ["Anubhav", "Aryan", "Aditya", "Anurag", "Ritesh", "Bhavesh", "Devika", "Reanne", "Arnav", "Hardik"],
       "Roll" : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
       "Gender" : ["M", "M", "M", "M", "M", "M", "F", "F", "M", "M"],
       "Marks 1" : [85, 86, 74, 75, 76, 45, 73, 60, 55, 90],
       "Marks 2" : [100, 65, 45, 55, 21, 40, 30, 85, 95, 99],
       "Marks 3" : [99, 94, 96, 93, 51, 54, 58, 57, 56, 67]}
df = pd.DataFrame(data)
df["Total"] = df["Marks 1"] + df["Marks 2"] + df["Marks 3"]
df["Average"] = df["Total"]/3
print(df)
print("Lowest marks in Marks 1 = ", df["Marks 1"].min())
print("Highest marks in Marks 2 = ", df["Marks 2"].max())
print("Average marks in Marks 3 = ", df["Marks 3"].mean())
top_student = df["Average"].max()
top_student_name = df[df["Average"] == top_student]
print("The student with highest average is = \n", top_student_name)
print("No of students who failed in Marks 2 are = ", (df["Marks 2"] < 40).sum())

      Name  Roll Gender  Marks 1  Marks 2  Marks 3  Total    Average
0  Anubhav     1      M       85      100       99    284  94.666667
1    Aryan     2      M       86       65       94    245  81.666667
2   Aditya     3      M       74       45       96    215  71.666667
3   Anurag     4      M       75       55       93    223  74.333333
4   Ritesh     5      M       76       21       51    148  49.333333
5  Bhavesh     6      M       45       40       54    139  46.333333
6   Devika     7      F       73       30       58    161  53.666667
7   Reanne     8      F       60       85       57    202  67.333333
8    Arnav     9      M       55       95       56    206  68.666667
9   Hardik    10      M       90       99       67    256  85.333333
Lowest marks in Marks 1 =  45
Highest marks in Marks 2 =  100
Average marks in Marks 3 =  72.5
The student with highest average is =
       Name  Roll Gender  Marks 1  Marks 2  Marks 3  Total    Average
0  Anubhav     1      M       85      100       99    284  94.666667
No of students who failed in Marks 2 are =  2